/***** text styles *****/

.label {
	display:inline-block
	text-align:center
}

.header {
	border-bottom: 0.05em solid black;
	padding: 0px 0px 0px 10px;
}

.bodyheader {
	text-align: center;
}

.menu {
  	list-style: none;
  	padding: 0 0 0 0;
}

.menu li {
	display: inline;
}

.body {
	text-align: center;
}

.topright {
	padding: 5px;
	text-align: right;
}

.button {
	padding: 5px;
	text-align: center;
}

/***** input styles *****/

input[type=text] {
	padding: 5px;
}

input[type=password] {
	padding: 5px;
}

input[type=checkbox] {
        padding: 5px;
}

/***** shapes *****/

