<!DOCTYPE html>
<html>
<body>
	<div class="header_menu">
                <div class="header_menu_actions">
                        <ul class="header_menu_actions_cont left">
                                <li class="header_menu_item">
                                        <img src="https://lh3.ggpht.com/GtQ3zUlID3oXnhMLmoqMAVqugCyhPaM3XjqJp67fd8C2Yamv6uzK8izjgZCb8CpMog=w170" alt="Sensus" height="40px" width="40px" style="padding-left:5px;"/>
                                </li>
                                <li class="header_menu_item">
                                        <button class="body_button header_button header_text" type="button" data-ng-click="goToStudies()">Sensus Portal</button>
                                </li>
                        </ul>
                        <ul class="header_menu_actions_cont right">
                                <li class="header_menu_item">
                                        <button class="body_button blue_hover header_button" type="button" data-ng-click="goToAccount()">{{user.emailAddress}}</button>
                                </li>
                                <li class="header_menu_item">
                                        <button class="body_button red_hover header_button" type="button" data-ng-click="signOut()">Sign out</button>
                                </li>
                        </ul>
                </div>
        </div>
	
	<div class="nav_section">
                <div class="nav_menu">
                        <div class="nav_menu_actions">
                                <ul class="nav_menu_actions_cont left">
                                        <li class="nav_menu_item">
                                                <a class="nav_text"> &gt </a>
                                        </li>
                                        <li class="nav_menu_item">
                                                <button class="nav_button blue_hover_top" type="button" data-ng-click="goToStudies()">Studies</button>
                                        </li>
                                        <li class="nav_menu_item">
                                                <a class="nav_text"> &gt </a>
                                        </li>
                                        <li class="nav_menu_item">
                                                <button class="nav_button blue_hover_top" type="button" data-ng-click="reload()">New study</button>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
	
	<div class="body_section" style="padding-top:25px;">
		<div class="horiz_menu">
			<div class="horiz_menu_actions">
				<ul class="fit">
					<li class="horiz_menu_item">
						<a class="menu_text">Create new study</a>
					</li>
				</ul>
				<ul class="right_menu fit">
					<li class="horiz_menu_item">
						<button class="body_button blue_hover" type="button" data-ng-click="goToStudies()">Discard</button>
					</li>
					<li class="horiz_menu_item">
						<button class="body_button blue_hover" type="button" data-ng-click="saveStudy()">Save</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="body_section inner">
			<div class="horiz_xlong_block">
				<div class="horiz_menu_actions">
					<ul class="offset">
						<li class="horiz_menu_item">
							<button class="block_top_button blue_hover_top" type="button" data-ng-click="detailsTab()">Details</button>
						</li>
						<li class="nav_menu_item">
							<a class="nav_text" style="padding-top:18px;"> &gt </a>
						</li>
						<li class="horiz_menu_item">
							<button class="block_top_button blue_hover_top" type="button" data-ng-click="protocolsTab()">Protocols</button>
						</li>
						<li class="nav_menu_item">
							<a class="nav_text" style="padding-top:18px;"> &gt </a>
						</li>
						<li class="horiz_menu_item">
							<button class="block_top_button blue_hover_top" type="button" data-ng-click="participantsTab()">Participants</button>
						</li>
						<li class="nav_menu_item">
							<a class="nav_text" style="padding-top:18px;"> &gt </a>
						</li>
						<li class="horiz_menu_item">
							<button class="block_top_button blue_hover_top" type="button" data-ng-click="distributionTab()">Distribution</button>
						</li>
						<li class="nav_menu_item">
							<a class="nav_text" style="padding-top:18px;"> &gt </a>
						</li>
						<li class="horiz_menu_item">
							<button class="block_top_button blue_hover_top" type="button" data-ng-click="reviewTab()">Review</button>
						</li>
					</ul>
					<ul class="right_menu offset">
                                                <li class="horiz_menu_item">
                                                        <button class="block_top_button blue_hover_top" type="button" data-ng-click="back()">Back</button>
                                                </li>
                                                <li class="horiz_menu_item">
                                                        <button class="block_top_button blue_hover_top" type="button" data-ng-click="submit()">{{tab.submitText}}</button>
                                                </li>
                                        </ul>
				</div>
				<div id="details" class="block_text_area tab">
					<br></br>
					<br></br>
					<input class="body_centered_element text_input" name="studyTitle" type="text" placeholder="Title" size="50" ng-model="formData.studyTitle"><br>
					<input class="body_centered_element text_input" name="studyStartDate" type="text" placeholder="Date beginning" size="50" ng-model="formData.studyStartDate" jqdatepicker><br>
					<input class="body_centered_element text_input" name="studyEndDate" type="text" placeholder="Date ending (optional)" size="50" ng-model="formData.studyEndDate" jqdatepicker><br>
					<textarea class="body_centered_element" name="studyDescription" cols="48" rows="8" placeholder="Description" ng-model="formData.studyDescription"></textarea>
				</div>
				<div id="protocols" class="block_text_area tab">
				</div>
				<div id="participants" class="block_text_area tab">
				</div>
				<div id="distribution" class="block_text_area tab">
				</div>
				<div id="review" class="block_text_area tab">
				</div>
			</div>
		</div>
	</div>
</body>
</html>
