<!DOCTYPE html>
<html>
<body>
        <ul class="headersection">
                <li text-align="left"><input type="submit" value="Back" data-ng-click="back()" /></li>
                <li style="float:right"><input type="submit" value="Logout" data-ng-click="logout()" /></li>
                <li style="float:right">{{user.emailAddress}}</li>
        </ul>

	<div class="section">
		<h3>Participants</h3>
		<ul>
			<li>Total: {{participants.total}}</li>
			<br/>
                        <li>Active: {{participants.active}}</li>
                        <br/>
                        <li>Inactive: {{participants.inactive}}</li>
                        <li><br/><hr/></li>
                </ul>
        	<div>
                	{{participants.message}}
                	<tr>
                        	<div ng-repeat="participant in participants.list | orderBy:'endDate'">
                                	<ul>
						<li><svg ng-style="{'width':'12px', 'height':'12px', 'background':participant.color, '-moz-border-radius':'20px', '-webkit-border-radius':'20px', 'border-radius':'20px'}"></svg></li>
                                        	<li>{{participant.emailAddress}}</li>
                                        	<li style="float:right"><input type="submit" value="View" data-ng-click="viewParticipant(participant)" /></li>
                                	</ul<>
                        	</div>
                	</tr>
		</div>
	</div>
</body>
</html>
