<!DOCTYPE html>
<html>
<body>
        <ul class="headersection">
		<li><h3 class="bodyheader">Log In</h3></li>
                <li style="float:right"><input type="submit" value="Register account" data-ng-click="onRegister()"/></li>
        </ul>

	<br/>

	<table class="body">
		<colgroup>
			<col>
			<col>
		</colgroup>
		<tr>
			<form id="user">
				<fieldset  class="body">
					<input name="loginEmailAddress" type="text" placeholder="Email Address" size="50" ng-model="formData.loginEmailAddress"><br>
					<input name="loginPassword" type="password" placeholder="Password" size="50" ng-model="formData.loginPassword"><br>
					<p>
					<label text-align="center"></label><input class="body" type="submit" value="Log In" data-ng-click="onLogin()"/>
					<p>
				</fieldset>
			</form>
			
		</tr>
	</table>
</body>
</html>
