<!DOCTYPE html>
<html>
<body>
        <ul class="headersection">
                <li text-align="left"><input type="submit" value="Back" data-ng-click="back()" /></li>
                <li style="float:right"><input type="submit" value="Logout" data-ng-click="logout()" /></li>
                <li style="float:right">{{user.emailAddress}}</li>
        </ul>

        	<div class="section" style="float:left; width:60%">
			<ul>
				<li><h3>Participant Details</h3></li>
				<li><svg ng-style="{'width':'12px', 'height':'12px', 'background':participant.color, '-moz-border-radius':'20px', '-webkit-border-radius':'20px', 'border-radius':'20px'}"></svg></li>
                		<li>{{participant.emailAddress}}</li>
                	</ul>
			<hr/>
			<ul>
                        	<li>Start date: <font ng-bind="participant.startDate | date:'MM/dd/yyyy'"></font></li>
				<br/>
				<li>End date: <font ng-bind="participant.endDate | date: 'MM/dd/yyyy'"></font></li>
                        	<br/>
                	</ul>
        	</div>
		<div class="section" style="float:right; width:30%">
                	<ul>
                        	<li><h3>Event Log</h3></li>
                        	<li style="float:right"><input type="submit" value="View All" data-ng-click="viewAllLogEntries()" /></li>
                        	<li style="float:right"><input type="submit" value="Refresh" data-ng-click="refreshLogEntries()" /></li>
                	</ul>
                	<hr/>
                	<table style="width:100%">
                        	<tr>
                                	{{logEntries.message}}
                        	</tr
                        	<tr>
                                	<div ng-repeat="logEntry in logEntries.list | orderBy:'timestamp'">
                                        	<ul>
                                                	<li style="float:right"><input type="submit" value="View" data-ng-click="viewLogEntry(logentry)" /></li>
                                                	<li>{{logEntry.timestamp}}</li>
                                                	<li></br></li>
                                                	<li>{{logEntry.sourceStudyName}}</li>
                                                	<li></br></li>
                                                	<li>{{logEntry.message}}</li>
                                                	<li></br></li>
                                        	</ul>
                                	</div>
                        	</tr>
                	</table>
		</div>
</body>
</html>
