<!DOCTYPE html>
<html>
<body>
	<ul class="headersection">
                <li><h3 class="bodyheader">Register Account</h3></li>
                <li><input type="submit" value="Cancel" data-ng-click="onCancel()"/></li>
        </ul>

	<br/>

        <table class="body">
                <colgroup>
                        <col>
                        <col>
                </colgroup>
                <tr>
                        <form id="study">
                                <fieldset  class="body">
                                        <input name="researcherFirstName" type="text" placeholder="First Name" size="50" ng-model="formData.researcherFirstName"><br>
                                        <input name="researcherLastName" type="text" placeholder="Last Name" size="50" ng-model="formData.researcherLastName"><br>
                                        <input name="researcherEmailAddress" type="text" placeholder="Email Address" size="50" ng-model="formData.researcherEmailAddress"><br>
					<input name="researcherPassword" type="text" placeholder="Password" size="50" ng-model="formData.researcherPassword"><br>
                                        <p>
                                        <label text-align="center"></label><input class="body" type="submit" value="Register" data-ng-click="onRegister()"/>
                                </fieldset>
                        </form>

                </tr>
        </table>
</body>
</html>
