<!DOCTYPE html>
<html>
<body>
	<div style="padding-top:45px">
		<div class="nav_section">
			<div class="nav_menu">
				<div class="nav_menu_actions">
					<ul class="nav_menu_actions_cont left">
						<li class="nav_menu_item">
							<a class="nav_text"> &gt </a>
						</li>
						<li class="nav_menu_item">
							<button class="nav_button" type="button" data-ng-click="goToStudies()">Studies</button>
						</li>
						<li class="nav_menu_item">
							<a class="nav_text"> &gt </a>
						</li>
						<li class="nav_menu_item">
							<button class="nav_button" type="button" data-ng-click="goToStudy()">{{study.title}}</button>
						</li>
						<li class="nav_menu_item">
							<a class="nav_text"> &gt </a>
						</li>
						<li class="nav_menu_item">
							<button class="nav_button" type="button" data-ng-click="reload()">Data</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="body_section" style="padding-top:25px;">
			<div class="horiz_menu">
				<div class="horiz_menu_actions">
					<ul class="fit">
						<li class="horiz_menu_item">
							<font class="menu_text">Data</font>
						</li>
					</ul>
				</div>
			</div>
			<div class="body_section">
				<iframe style="width:100%;height:700px;" src="https://wesbonelli.shinyapps.io/all_participants/"></iframe> 
			</div>
		</div>
	</div>
</body>
</html>
