<!DOCTYPE html>
<html>
<body>
	<div class="header_menu">
                <div class="header_menu_actions">
                        <ul class="header_menu_actions_cont left">
                                <li class="header_menu_item">
                                	<img src="https://lh3.ggpht.com/GtQ3zUlID3oXnhMLmoqMAVqugCyhPaM3XjqJp67fd8C2Yamv6uzK8izjgZCb8CpMog=w170" alt="Sensus" height="40px" width="40px" style="padding-left:5px;"/>
                                </li>
                                <li class="header_menu_item">
                                        <button class="body_button header_button header_text" type="button" data-ng-click="goToStudies()">Sensus Portal</button>
                                </li>
                        </ul>
                        <ul class="header_menu_actions_cont right">
                                <li class="header_menu_item">
                                        <button class="body_button blue_hover header_button" type="button" data-ng-click="goToAccount()">{{user.emailAddress}}</button>
                                </li>
                                <li class="header_menu_item">
                                        <button class="body_button red_hover header_button" type="button" data-ng-click="signOut()">Sign out</button>
                                </li>
                        </ul>
                </div>
        </div>

	<div class="nav_section">
		<div class="nav_menu">
			<div class="nav_menu_actions">
				<ul class="nav_menu_actions_cont left">
					<li class="nav_menu_item">
						<a class="nav_text"> &gt </a>
					</li>
					<li class="nav_menu_item">
						<button class="nav_button blue_hover_top" type="button" data-ng-click="goToStudies()">Studies</button>
					</li>
					<li class="nav_menu_item">
						<a class="nav_text"> &gt </a>
					</li>
					<li class="nav_menu_item">
						<button class="nav_button blue_hover_top" type="button" data-ng-click="reload()">{{studyDetails.title}}</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="body_section" style="padding-top:25px;">
		<div class="horiz_menu">
			<div class="horiz_menu_actions">
				<ul class="fit">
					<li class="horiz_menu_item">
						<font class="menu_text">{{studyDetails.title}}</font>
					</li>
				</ul>
				<ul class="right_menu fit">
					<li class="horiz_menu_item">
                                                <button class="body_button blue_hover" type="button" data-ng-click="goToStudyData()">View data</button>
                                        </li>
                                        <li class="horiz_menu_item">
                                                <button class="body_button blue_hover" type="button" data-ng-click="goToStudySettings()">Settings</button>
                                        </li>
                                </ul>
			</div>
		</div>
		
		<div class="body_section left">
			<div class="horiz_menu">
				<div class="horiz_menu_actions">
					<ul class="fit">
						<li class="horiz_menu_item">
							<a class="menu_text">Details</a>
						</li>
					</ul>
					<ul class="right_menu fit">
						<li class="horiz_menu_item">
							<button class="body_button blue_hover" type="button" data-ng-click="goToDetails()">Edit</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="body_section inner">
				<div class="horiz_auto_block">
					<div class="block_text_area">
						<a class="block_text">Starts: </a>
						<a class="block_text" ng-bind="studyDetails.startDate | date:'MM/dd/yyyy'"></a>
						<br>
						<a class="block_text">Ends: </a>
						<a class="block_text" ng-bind="studyDetails.endDate | date: 'MM/dd/yyyy'"></a>
						<br>
						<a class="block_text">{{studyDetails.description}}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="body_section right">
			<div class="horiz_menu">
                                <div class="horiz_menu_actions">
                                        <ul class="fit">
                                                <li class="horiz_menu_item">
                                                        <font class="menu_text">Log</font>
                                                </li>
                                        </ul>
                                        <ul class="right_menu fit">
                                                <li class="horiz_menu_item"><button class="body_button blue_hover" type="button" data-ng-click="refreshStudyLogEntries()">Refresh</button>
                                                </li>
                                                <li class="horiz_menu_item"><button class="body_button blue_hover" type="button" data-ng-click="goToLogEntries()">View all</button>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                        <div class="body_section inner">
                                <div class="horiz_medium_block" ng-repeat="logentry in studyLogEntries.list | orderBy:'timestamp'">
                                        <div class="horiz_menu_actions">
                                                <ul class="right_menu offset">
                                                        <li class="horiz_menu_item">
                                                                <button class="block_top_button blue_hover_top" type="button" data-ng-click="goToLogEntry(logentry)">View</button>
                                                        </li>
                                                </ul>
                                        </div>
                                        <div class="block_text_area">
                                                <a class="block_text" ng-bind="logentry.timestamp | date:'MM/dd/yy HH:mm'"></a>
                                                <br>
                                                <a class="block_text">{{logentry.sourceStudyTitle}}</a>
                                                <br>
                                                <a class="block_text">{{logentry.message}}</a>
                                        </div>
                                </div>
                        </div>
                </div>
		<div class="body_section left">
			<div class="horiz_menu">
				<div class="horiz_menu_actions">
					<ul>
						<li class="horiz_menu_item">
							<font font class="menu_text">Distribution</font>
						</li>
					</ul>
					<ul class="right_menu">
						<li class="header_menu_item">
							<button class="body_button blue_hover" type="button" data-ng-click="goToDistribution()">Edit</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="body_section inner">
				<div class="horiz_auto_block">
					<div class="block_text_area">
						<a class="block_text">Total participants: {{studyParticipants.total}}</a>
						<br>
						<a class="block_text">Active participants: {{studyParticipants.active.length}}</a>
						<br>
						<a class="block_text">Active protocols: </a>
						<br>
						<a class="block_text">Average participation rate: </a>
						<br>
						<a class="block_text">Average script response rate: </a>
					</div>
				</div>
			</div>
		</div>
		<div class="body_section left">
			<div class="horiz_menu">
				<div class="horiz_menu_actions">
					<ul class="fit">
						<li class="horiz_menu_item">
							<a class="menu_text">Participants</a>
						</li>
					</ul>
					<ul class="right_menu fit">
						<li class="horiz_menu_item">
							<button class="body_button blue_hover" type="button" data-ng-click="goToParticipants()">Edit</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="body_section inner">
				<div class="horiz_menu">
					<div class="horiz_menu_actions">
						<ul class="fit">
							<li class="horiz_menu_item">
								<a class="menu_text">Active</a>
							</li>
						</ul>
						<ul class="right_menu fit">
                                                        <li class="horiz_menu_item">
                                                                <button class="body_button blue_hover" type="button" data-ng-click="goToActiveParticipants()">View</button>
                                                        </li>
                                                </ul>
					</div>
				</div>
				<div class="body_section inner">
					<div class="horiz_white_menu" ng-repeat="participant in studyParticipants.active | orderBy:'endDate':true">
						<div class="horiz_menu_actions">
							<ul class="fit">
								<li class="horiz_menu_item">
									<li class="horiz_menu_item"><svg class="small_rectangle" ng-style="{'background-color':participant.healthStatus"></svg></li>
								</li>
								<li class="horiz_menu_item">
									<font class="block_body_text">{{participant.emailAddress}}</font>
								</li>
							</ul>
							<ul class="right_menu offset">
								<li class="horiz_menu_item">
									<button class="body_list_button blue_hover_top" type="button" data-ng-click="goToParticipant(participant)">View</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="horiz_menu">
                                        <div class="horiz_menu_actions">
                                                <ul class="fit">
                                                        <li class="horiz_menu_item">
                                                                <a class="menu_text">Inactive</a>
                                                        </li>
                                                </ul>
						<ul class="right_menu fit">
                                                        <li class="horiz_menu_item">
                                                                <button class="body_button blue_hover" type="button" data-ng-click="goToInactiveParticipants()">View</button>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>
				<div class="body_section inner">
                                        <div class="horiz_white_menu" ng-repeat="participant in studyParticipants.inactive | orderBy:'endDate':true">
                                                <div class="horiz_menu_actions">
                                                        <ul class="fit">
                                                                <li class="horiz_menu_item">
                                                                        <li class="horiz_menu_item"><svg class="small_rectangle" ng-style="{'background-color':participant.healthStatus}"></svg></li>
                                                                </li>
                                                                <li class="horiz_menu_item">
                                                                        <font class="block_body_text">{{participant.emailAddress}}</font>
                                                                </li>
                                                        </ul>
                                                        <ul class="right_menu offset">
                                                                <li class="horiz_menu_item">
                                                                        <button class="body_list_button blue_hover_top" type="button" data-ng-click="goToParticipant(participant)">View</button>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
			</div>
		</div>
		<div class="body_section left">
			<div class="horiz_menu">
				<div class="horiz_menu_actions">
					<ul class="fit">
						<li class="horiz_menu_item">
							<a class="menu_text">Protocols</a>
						</li>
					</ul>
					<ul class="right_menu fit">
						<li class="horiz_menu_item">
							<button class="body_button blue_hover" type="button" data-ng-click="goToProtocols()">Edit</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
