<!DOCTYPE html>
<html>
<body>
	<ul class="headersection">
		<li style="float:right"><input type="submit" value="Logout" data-ng-click="onLogout()" /></li>
		<li style="float:right">{{userEmailAddress}}</li>
        </ul>
	
	<div class="section" style="float:left; width:60%;">
        	<ul>
			<li><h3>Studies</h3></li>
                	<li style="float:right"><input type="submit" value="New Study" data-ng-click="onCreate()" /></li>
        		<li><br/><hr/></li>
		</ul>
		<table style="width:100%">
                	<tr>
                        	{{studies.message}}
                	</tr>
                	<tr>
                        	<div ng-repeat="study in studies | orderBy:'enddate'">
					<ul>
						<li><svg ng-style="{'width':'12px', 'height':'12px', 'background':study.color, '-moz-border-radius':'20px', '-webkit-border-radius':'20px', 'border-radius':'20px'}"></svg></li>
						<li>{{study.name}}</li>
						<li style="float:right"><input type="submit" value="Delete" data-ng-click="onDeleteStudy(study)" /></li>
						<li style="float:right"><input type="submit" value="View" data-ng-click="onViewStudy(study)" /></li>
					</ul<>
				</div>
                	</tr>
        	</table>
	</div>
	<div class="section" style="float:right; width:30%;">
                <ul>
                        <li><h3>Event Log</h3></li>
                        <li style="float:right"><input type="submit" value="View All" data-ng-click="onViewAllAlerts()" /></li>
                </ul>
		<table style="width:100%">
                        <tr>
                                {{alerts.message}}
                        </tr>
                        <tr>
                                <hr/>
                                <div ng-repeat="alert in alerts | orderBy:'timestamp'">
                                        {{alert.timestamp}}
					</br>
					{{alert.sourcestudyname}}
					</br>
					{{alert.sourceparticipantemailaddress}}
                                        </br>
					<input type="submit" value="View" data-ng-click="onViewAlert(alert)" />
					<br/><br/>
                                </div>
                        </tr>
                        </hr>
                </table>
	</div>
</body>
</html>


